*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    color: white;
}
html{
    font-size: 62.5%;
}
header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: 'Secular One', sans-serif;
}
h1{
    font-family: 'Permanent Marker', cursive;
}
.gridindex{  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 550px 20px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "TN Nav Nav"
    "Main Main Main"
    "footer footer footer";
}
.Main { 
    grid-area: Main; 
}
.TN { 
    grid-area: TN; 
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    font-family: 'Permanent Marker', cursive;
}
.Nav { 
    grid-area: Nav; 
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: 'Secular One', sans-serif;
}
img:hover{
    transform: scale(1.2);
}
li:hover{
    transform: scale(1.2);
    border: solid blue;
}
.footer {
    grid-area: footer;
    text-align: right;
    font-family: 'Secular One', sans-serif;
    font-size: 1.5rem;
}
h1{
    font-size: 2.5rem;
}
.navegador__li{
    display: inline-block;
    list-style: none;
    margin-right: 5px;
    color: white;
}

.Inicio__Parrafo{
    color: white;
    font-size: 4rem;
}
.Inicio__Saludo{
    font-size: 10rem;
    font-style: "Roboto";
    margin-top: 10%;
    color: white;
}
body{
    background-image: url(../Fotos/Renaultauto.jpg);
}
@media (max-width: 767px) {
    .gridindex {
        grid-template-areas:
        "TN"
        "Nav"
        "Main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 10% 20% 70% 10%;
        background-image: url(../Fotos/Renaultamarillo.jpg);
        background-size: 100% 100%;
    }
    .TN {
        grid-area: TN;
        display: flex;
        justify-content: center;
        font-size: 40px;
        font-weight: bolder;
        font-family: 'Secular One', sans-serif;
    }
    .Nav{
        justify-content: center;
        margin-top: 10px;
        font-size: 25px;
    }
    .Main{
        text-align: center;
        justify-content: center;
        margin-top: 40px;
    }
    .Inicio__Parrafo{
        margin-top: 30px;
        text-align: center;
        margin-bottom: 140px;
    }
    .footer{
        background-image: url(../Fotos/Renaultamarillo.jpg);
    }
}
/* NOSOTROS*/
.nosotrosgrid {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.07fr 0.45fr 1.5fr 0.07fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "iniciotn iniciotn iniciotn"
        "ftn ftn ftn"
        "maintn maintn maintn"
        "footertn footertn footertn";
    }
    
.iniciotn {
    grid-area: iniciotn; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: 'Secular One', sans-serif;
    height: 50px;
}
.iniciotnh1{
    font-size: 2.5rem;
    color: white;
    font-family: 'Permanent Marker', cursive;
}
.ftn { 
    grid-area: ftn; 
}
.maintn {
    grid-area: maintn; 
}
.footern { 
    grid-area: footertn;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}

#FuncionTN{
    background-color:black;
    border: 0.25rem;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    margin-top: 20px;
    color: white;
    font-size: 2rem;
    font-family: 'Raleway 800', sans-serif;
    font-weight: bold;
    text-align: justify;
}
.card1{
    background-color:transparent ;
    color:white;
    font-weight: bold;
    width: 320px;
    height: 300px;
    font-size: 1.5rem;
    font-family: "Roboto";
    border-radius: 10px;
    border-style:groove;
    margin-right: 10px;

}

.card2{
    background-color:transparent ;
    color:white;
    font-weight: bold;
    font-size: 1.5rem;
    width: 320px;
    height: 300px;
    font-family: "Roboto";
    border-radius: 10px;
    border-style:groove;
    margin-right: 10px;
}   
.card2 img{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 80px;
    margin-top: 30px;
    border-radius: 20px;
    
}
.card3{
    background-color:transparent ;
    color:white;
    font-weight: bold;
    width: 320px;
    height: 300px;
    font-size: 1.5rem;
    font-family: "Roboto";
    border-radius: 10px;
    border-style:groove;
    margin-right: 10px;
}
.card4{
    background-color:transparent ;
    color:white;
    font-weight: bold;
    width: 320px;
    height: 300px;
    font-size: 1.5rem;
    font-family: "Roboto";
    border-radius: 10px;
    border-style:groove;
    margin-right: 10px;
    margin-top: 10px;
}
.card5{
    background-color:transparent ;
    color:white;
    font-weight: bold;
    width: 320px;
    height: 300px;
    font-size: 1.5rem;
    font-family: "Roboto";
    border-radius: 10px;
    border-style:groove;
    margin-right: 10px;
    margin-top: 10px;
    
}
.card6{
    background-color:transparent ;
    color:white;
    font-weight: bold;
    width: 320px;
    height: 300px;
    font-size: 1.5rem;
    font-family: "Roboto";
    border-radius: 10px;
    border-style:groove;
    margin-right: 10px;
    margin-top: 10px;
}
table{
    background-color: gray;
    width: 100%;
    height: 10rem;
    font-size: 1.5rem;
}
.FotoPerfil{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 80px;
    margin-top: 30px;
    border-radius: 20px;

}
.table__Encabezado{
    font-weight: bolder;
}

.text-center{
    text-align: center;
}  
.img8{
    height: 100%;
    width: 100%;
}

#Integrantes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
@media (max-width: 767px) {
    .nosotrosgrid {
        grid-template-areas:
        "iniciotn"
        "ftn"
        "maintn"
        "footertn";
        grid-template-columns: 1fr;
        grid-template-rows: 5% 20% 100% 5%;
        background-image: url(../Fotos/Renaultamarillo.jpg);
        background-size: 100% 100%;
    }
    .iniciotn { 
        grid-area: iniciotn; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid;
        font-size: 1.5rem;
        font-weight: bolder;
        font-family: 'Secular One', sans-serif;
        height: 50px;
    }
    .iniciotnh1{
        font-size:2.5 rem;
        color: white;
        font-family: 'Permanent Marker', cursive;
    }
    .ftn{
        margin-top: 10px;
    }
}

/* Pagina STN*/

.TituloSTN{
    color: white;
    font-size: 2.5rem;
    font-family: 'Raleway 800', sans-serif;
    margin-top: 12px;
}
.ComentarioSTN{
    background-color:black;
    border: 0.25rem;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-size: 1.7rem;
    font-family: 'Raleway 800', sans-serif;
    font-weight: bold;
    text-align: justify;
}
.Sector{
    margin-left: 290px;
    margin-top: 20px;
}
.Nombredeltrabajoaestimar{
    margin-left: 74px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.E-maildelSolicitante{
    margin-left: 146px;
    margin-top: 20px;
}
.NombredelSolicitante{
    margin-left: 130px;
    margin-top: 20px;
}
.FechadeIngreso{
    margin-left: 135px;
    margin-top: 20px;
}
.Descripciondeltrabajo{
    margin-left: 135px;
    margin-top: 20px;
}
.MotivdelaNecesidad{
    margin-left: 135px;
    margin-top: 20px;
}
.BeneficioEsperado{
    margin-left: 165px;
    margin-top: 20px;
}
.InconvenientesSiNoSeRealiza{
    margin-left: 65px;
    margin-top: 20px;
}
.OrdenInterna{
    margin-left: 280px;
    margin-top: 20px;
}
.Cuenta{
    margin-left: 490px;
    margin-top: 20px;
}
.CentroDeCosto{
    margin-left: 400px;
    margin-top: 20px;
}
.BotonEnviar{
    color: black;
}
.BotonLimpiarFormulario{
    color: black;
}
/* Pagina obras*/

.ComentarioObras{
    color: white;
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;

}
.EstructuraGaleria{
    margin-top: 20px;
    text-align: center;
    border: 0.25rem;
    border-color: white;
    border-style:dotted;
    margin-bottom: 10px;
}
.CTA__montaje{
    height: 400px;
    width: 250px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}
.CTA__1{
    height: 400px;
    width: 500px;
    margin-right: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}
.CTA__2{
    height: 400px;
    width: 500px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}
.ComentariosFotosObras{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-family: 'Raleway 800', sans-serif;
}
.CuadrosGas1{
    height: 400px;
    width: 250px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}
.CuadrosGas2{
    height: 400px;
    width: 320px;
    margin-top: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}
.TablerosElectricos{
    height: 400px;
    width: 500px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    margin-top: 10px;
}

.CañeriaCatenaria{
    height: 400px;
    width: 250px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}
.CañeriaCatenaria2{
    height: 400px;
    width: 250px;
    margin-top: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}
.CableadoCatenaria{
    margin-top: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}

/* Pagina Contacto*/

.TituloContacto{
    color: white;
    font-size: 2.5rem;
    font-family: 'Raleway 800', sans-serif;
    margin-top: 10px;
}
.ComentarioContacto{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Raleway 800', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
#Contacto{
    text-align: center;
}
.Contacto__Formulario{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Raleway 800', sans-serif;
    text-align: center;
}
.Contacto_Botones{
    margin-top: 20px;
    margin-left: 150px;
}

.Contacto_Email{
    margin-top: 20px;
    margin-left: 168px;
}
.Contacto_Telefono{
    margin-top: 20px;
    margin-left: 148px;
}
.Contacto_Comentarios{
    margin-top: 20px;
    justify-content: center;
}
.BotonEnviar{
    width: 100px;
    height: 30px;
    margin-left: 230px;
    margin-right: 10px;
    margin-top: 50px;
    color: black;
}
.BotonLimpiarFormulario{
    width: 150px;
    height: 30px;
    margin-bottom: 60px;
    color: black;
}
 

